<link rel="shortcut icon" href="{{ "favicon.ico" | relURL }}" type="image/x-icon">
<link rel="apple-touch-icon" type="image/png" href="{{ "apple-touch.png" | relURL }}" />
<link rel="android-chrome" type="image/png" href="{{ "android-chrome-192.png" | relURL }}" />
<link rel="android-chrome" type="image/png" href="{{ "android-chrome-512.png" | relURL }}" />
<link rel="icon" type="image/png" href="{{ "favicon-32.png" | relURL }}" />
<link rel="icon" type="image/png" href="{{ "favicon-16.png" | relURL }}" />
<link rel="manifest" href="{{ "site.webmanifest" | relURL }}" />