<div
  data-aos="fade-up"
  data-aos-offset="200"
  data-aos-delay="0"
  data-aos-duration="800"
  data-aos-once="true"
  class="w-full bg-neutral-700 dark:bg-primary-200 p-6 py-12 md:p-8 lg:p-16 rounded-2xl shadow-lg shadow-neutral-500/40 dark:shadow-primary-200/40"
>
  <div class="head">
    <header class="text-center w-full wrap-text whitespace-normal">
      <h1
        data-aos="fade-up"
        data-aos-offset="200"
        data-aos-delay="500"
        data-aos-duration="800"
        data-aos-once="true" 
        class="text-4xl text-neutral-200 dark:text-neutral-700/90 mb-0">KoalaFacade's Team</h1>
    </header>
    <div
      class="
        body-team-wrapper justify-center w-full  mt-8
        grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3
        gap-4 md:gap-8 lg:gap-12
      "
    >
      {{ if .Site.Params.teams }}
        {{ range .Site.Params.teams }}
          {{ partial "home/partials/team.html" . }}
        {{ end }}
      {{ end }}
    </div>
  </div>
</div>