<div class="hero-wrapper max-w-full prose dark:prose-invert flex items-center flex-col  ">
  <div class="mx-auto w-full md:w-6/12 my-24 md:my-32">
    {{ with .Title }}
    <header 
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="0"
      data-aos-duration="800"
      data-aos-once="true"
      class="text-center w-full"
    >
      <h1 class="text-5xl md:text-6xl lg:text-7xl text-neutral-700  dark:text-primary-400 mb-0">{{ . | emojify }}</h1>
    </header>
    {{ end }}

    {{ with .Site.Params.Description }}
    <p 
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="600"
      data-aos-duration="800"
      data-aos-once="true" 
      class="text-center"
    >
      {{ . | emojify }}
    </p>
    {{ end }}

    <div 
      data-aos="fade-up"
      data-aos-offset="200"
      data-aos-delay="1000"
      data-aos-duration="1200"
      data-aos-once="true"
      class="button text-center"
    >
      <a
          class="inline-block !rounded-md bg-primary-500 px-4 py-1
            !text-neutral !no-underline hover:!bg-primary-600 dark:bg-primary-500 dark:hover:!bg-primary-600
            text-center mt-4 shadow-lg shadow-primary-600/40
            mr-4
          "
          href="packages"
      >
        See our packages
      </a>
      <a
          class="inline-block !rounded-md  px-4 py-1
            !text-neutral-300 !no-underline hover:!bg-neutral-700 bg-neutral-600
            text-center mt-4 shadow-lg shadow-neutral-600/40 hover:shadow-neutral-700/40
          "
          href="https://discord.gg/RmxbfQ3hmb"
          target="_blank"
      >
        {{ partial "icon.html" "discord" }} <span class="ml-2">Join our Discord</span>
      </a>
    </div>
  </div>

  {{ partial "home/highlighted-package.html" . }}
  {{ partial "home/our-team.html" . }}
</div>
<article class="max-w-full prose dark:prose-invert flex items-center ">
  <section>{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
