<article class="max-w-full prose dark:prose-invert flex items-center pt-24">
  <div class="mx-auto md:w-6/12">
    {{ with .Title }}
    <header class="text-center w-full">
      <h1 class="text-6xl lg:text-7xl text-neutral-700  dark:text-primary-400 mb-0">{{ . | emojify }}</h1>
    </header>
    {{ end }}

    {{ with .Site.Params.Description }}
    <p class="text-center">
      {{ . | emojify }}
    </p>
    {{ end }}

    <div class="button text-center">
      <a
        class="inline-block !rounded-md bg-primary-500 px-4 py-1
          !text-neutral !no-underline hover:!bg-primary-600 dark:bg-primary-500 dark:hover:!bg-primary-600
          text-center mt-4 shadow-lg shadow-primary-600/40"
        href="packages"
      >
        See our packages
      </a>
    </div>

  </div>
  <section>{{ .Content | emojify }}</section>
</article>
<section>
  {{ partial "recent-articles.html" . }}
</section>
